<h1>Hello your long url is <a href="<%= "#{@url.long_url}" %>"><%= @url.long_url %></a>!</h1>

<p>Your short url is <a href="<%= "/#{@url.short_url}" %>"><%= "localhost:9393/#{@url.short_url}" %></a>!</p>

<p>Your short url has been clicked <%= @url.counter %> times!</p>

<p><a href = "/">Go home</a></</p>