<div id = "top-part">
	<header id="header">
		<div id="header-inner">
			<div class ="container">
				<h1 class = "header-logo">
					<a href = "/">
						<img src="img/zenly_logo_transparent.png" width="95px" height="43px">
					</a>
				</h1>
				<nav class="navigation">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div id="main">
		<div id="main-title">
			<h1>THE LINK KNOWS NOTHING. SO CAN'T YOU.</h1>
			<p>Measure ABSOLUTELY NOTHING</p>
		</div>
		<div id="formcontainer">
			<form action = "/urls" method="post" id="shortenform">
				<input type = "text" name = "long_url" placeholder = "Paste your answer to life here" class = "shorteninginput" id = "shorteninput">
				<input type = "submit" value = "SHORTEN" id="shorten_button" class="button">
			</form>
		</div>
	</div>
</div>
<div id ="middle">
	<div id="tablecontainer">
		<table class = "table" id = "big_table">
			<thead>
				<th>No.</th>
				<th>Long URL</th>
				<th>Short URL</th>
				<th>Click count</th>

			</thead>
			<tbody>
				<%Url.all.order("id ASC").each_with_index do |u, index|%>
				<% index += 1 %>
					<tr>
						<td align="center">

							<%= index%>
						</td>

						<td>
							<a href="<%= "#{u.long_url}" %>"><%= u.long_url %>
								
							</a>
						</td>		
						<td>
							<a href="<%= "/#{u.short_url}" %>"><%= "https://zenly.herokuapp.com/#{u.short_url}" %>
								
							</a>
						</td>
						<td align="center">
							<%= u.counter %>
						</td>
					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>
<!-- <p>See Me in views/static/index.html.erb</p> -->
<!-- <a href="/signup">Click here to sign up</a> -->



<!-- <form action = "/geturls" method="post">
	Enter short URL to find:
	<input type = "text" name = "short_url">
	<input type = "submit" value = "Find URL!">
</form> -->


